certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
deap==1.4.3
Deprecated==1.2.18
googlemaps==4.10.0
idna==3.11
joblib==1.5.2
networkx==2.8.8
numpy==2.3.4
pandas==2.3.3
python-dateutil==2.9.0.post0
python_tsp==0.5.0
pytz==2025.2
requests==2.32.5
scikit-learn==1.7.2
scikit-learn-extra==0.3.0
scipy==1.16.3
setuptools==80.9.0
six==1.17.0
tabulate==0.8.10
threadpoolctl==3.6.0
tsplib95==0.7.1
tzdata==2025.2
urllib3==2.5.0
wrapt==1.17.3
